*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

nav{
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  display: flex;
  margin: 20px;
  list-style: none;
}

li:not(:last-child){
  margin-right: 50px;
  
}

.nav-links a{
  display: flex;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.nav-links a:hover{
  color: #f1f1f193;
}

.overlay{
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: all 0.5s;
}

.overlay-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a{
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  font-size: 34px;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
  color: #f1f1f1;
}

.overlay .closebtn{
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
}

.nav-button{
  border: 0;
  border-radius: 4px;
  padding: 8px;
  background-color: transparent;
  margin: 8px;
  cursor: pointer;
}

.nav-button i{
  color: white;
}

.overlay, .nav-button{
  display: none;
}

@media  screen and (max-width: 712px) {
  nav{
    display: flex;
    justify-content: space-between;
  }
  .nav-content, .nav-item{
    display: none;
  }
  .overlay, .nav-button{
    display: block;
  }
    img.logo{
        width: 70px;
        margin: 20px 20px 3px 20px;
    }
    .overlay a{
      font-size: 20px;
    }
    .overlay, .closebtn{
      font-size: 40px;
      right: 30px;
    }
}

div.slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile{
  display: none;
}

.slide-img{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-img img{
  margin-top: 30px;
  width: 30%;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid red;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color: red;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
  background-color: red;
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

@media screen and (max-width: 660px){
  .img-desktop{
    display: none;
  }
  .img-mobile{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
.nav-auto div, .nav-manual .manual-btn{
  padding: 5px;
}
}

@media screen and (max-width: 1000px){
  .nav-auto div, .nav-manual .manual-btn{
    padding: 5px;
  }
}

nav{}


.h1nos{
    color: white;
    text-align: center;
    padding-top: 50px;
}

.divimgnos{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pnos{
    font-size: 1.5rem;
    text-align:center;
    color: white;
}

.strongnos{
    color: rgba(114, 114, 111, 0.774);
}

footer{
  background-color: white;
  width: 100vw;
  height: 10vh;
  margin-top: 10%;
}